<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <title>VeggieCurls App - Home</title>
   
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/meal_planner">Meal Planner</a></li>
                <li><a href="/recipes">Recipes</a></li>
                <li><a href="/beauty">Beauty</a></li>
                <li><a href="/community">Community</a></li>
                <!-- You can add more links for other pages here -->
            </ul>
        </nav>
    </header>

    <div id="content">
        <h1>Welcome to VeggieCurls</h1>
        <p>Your go-to source for vegan recipes, beauty tips, and community support.</p>
    </div>

    <!-- You can add more content specific to the home page here -->

    <footer>
        <p>&copy; 2023 VeggieCurls. All rights reserved.</p>
    </footer>
</body>
</html>
