<!-- nav.html -->
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/meal_planner">Meal Planner</a></li>
                <li><a href="/recipes">Recipes</a></li>
                <li><a href="/beauty">Beauty</a></li>
                <li><a href="/community">Community</a></li>
                <!-- You can add more links for other pages here -->
            </ul>
        </nav>
